@charset "utf-8";
/* CSS Document */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color:#fff;
    font-family: 'Raleway', sans-serif;
}
header{
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	height: 120px;
	color: purple;
	word-spacing: 5px;
	padding-top: 0px;
}
#logo{
  height: 70%;
  width: 18%;
  margin-bottom: 25px;
}
.first{
	background-color: #FBBC05;
	height: 40%;
}
#mar{
  height: 22%;
  font-size: 24px;
  font-weight: 500;
}

.second{
	background-color: #fff;
	height: 90%;
	padding-top: 10px;
  padding-bottom: 10px;
}
.second img{
	width: 20%;
	padding-left: 40%;
}
.second input{
	float: right;
	margin-right: 50px;
	width: 12%;
}
.second input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* For navbar */

.topnav {
  background-color: skyblue;
  overflow: hidden;
  position: static;
  font-weight: 500;
  width: 100%; 
}

.topnav a {
  float: left;
  display: block;
  color: purple;
  text-align: center;
  padding: 6px 82.4px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #08c230;
  color: white;
}
.topnav a.active {
  background-color: #841aab;
  color: white;
}
.topnav .icon {
  display: none;
}



/* For image-slider */

.mySlides {display: none;}


#ad{
	height: 500px;
	width: 800px;
	vertical-align: middle;
	padding: 70px;
	padding-left: 2%;
}

/* Footer */

footer div{
  display:table-cell;
  float: left;
  padding: 40px;
  padding-top: 25px;
 
}
footer .mail{
  padding-left: 106px;
}
footer .office{
  padding-left: 70px;
}

footer {
  margin:0px auto;
  padding-top: 10px;
  margin-top: 0px;
  background-color:skyblue;
  height: 270px;
  text-align: left;
  width: 100%;
  position: static;
  margin-bottom: 0px;
}

footer .about li,.helper li,.policy li{

  list-style-type: none;
  padding-top: 5px;
}

footer div li a{
text-decoration: none;
color: black;
font-weight: 500;
font-size: 18px;
}
footer div h3{
  color:#cc0066;
  font-weight: 800;
  font-size: 24px;  
}
footer .about h3,.helper h3,.policy h3{
  padding-left: 39px;
} 
.mail, .office{
	font-weight: 500;
	font-size: 18px;
}
 
 /* contact us */

.wrapper{
  position: static;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 380px;
  width: 100%;
  height: 430px;
  background: #f0f0f0;
  padding: 25px;
  border-radius: 5px;
  margin-top: 400px;
  margin-left: 50%;
  box-shadow: 4px 4px 2px rgba(192,192,192,1); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 8px;
}

.wrapper .input_field input[type="password"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 8px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 55px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: skyblue;
  color: purple;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.wrapper .btn input[type="submit"]:hover{
  background-color: pink;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

 #noline:hover{
	color:blue;
}

#active{
	text-decoration:none;
}
 
